[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
black = "==21.7b0"
flake8 = "==3.9.2"
isort = "==5.9.2"
radon = "==5.0.1"
wheel = "==0.36.2"
twine = "==3.4.2"

[requires]
python_version = "3.9"
